*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container{
  width: 75vw;
  height: auto;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: 1px 1px 10px #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* Header CSS */
header{
  background: #000;
  width: 100%;
  padding:1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#brand-logo-div{
  background: #eee;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
}

#brand-logo-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 74px;
}

#blog-series-title{
font-size: 2em;
color: #ddd;
text-shadow: 1px 1px 5px #ddd;
}



/* Section: blog-posts CSS */
#blog-section{
  width: 100%;
  background: #eee;
  padding: 1em;
}

#grid-container{
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  gap: 3em;
}

.grid-item{
  border: 1px solid#000;
  text-decoration: none;
  box-shadow: 2px 2px 2px #000;
  text-shadow: 1px 1px 5px #000;
  position: relative;
  color: #ddd;
  font-size: 3em;
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out;
  }

  .grid-item:hover{
    box-shadow: 5px 5px 10px #000;;
  }

 .grid-item > div{
  width: 100%;
  height: 100%;
  background: url("./assets/images/blog-images/1_Challenges.jpg") no-repeat center;
   background-size: cover;
  filter: blur(2px);
  position: absolute;
}

.grid-item > p{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


/* Footer CSS */

footer{
  background: #000;
  width: 100%;
  padding:1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-items{
  margin: 1em;
  color: #ddd;
}


footer > #about{
  background: #111;
  padding: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer > #contact{
  background: #000;
  padding: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.social-media-icons{
  margin: 1em;
  font-size: 1em;
  color: #ddd;
  transition: all 0.25s ease-in-out;
}

.social-media-icons:hover{
  color: #000;
  padding: 1em;
  background: #eee;
  border-radius: 50%;
}

/* Share Blog CSS*/
#share-blog{
  top:1em;
  left: 1em;
   width: auto;
  position: fixed;
  color: #ddd;
  font-size: 1em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.share-blog-items{
  color: #ddd;
  font-size: 1em;
  transition: all 0.25s ease-in-out;
}

.share-blog-items:hover{
  color: #000;
  padding: 1em;
  background: #eee;
  border-radius: 50%;
}

/* Back-To-Top CSS */

.back-to-top {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  color: #ddd;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 1em;
}

.back-to-top:hover{
  color: #000;
  padding: 1em;
  background: #eee;
  border-radius: 50%;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: 300px) and (max-width:728px){
   
  .container{
    width: 80vw;
    height: auto;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 1px 1px 10px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Header CSS */
  header{
    background: #000;
    width: 100%;
    padding:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #brand-logo-div{
    background: #eee;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
  }
  
  #brand-logo-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 29px;
  }
  
  #blog-series-title{
  font-size: 0.75em;
  color: #ddd;
  text-shadow: 1px 1px 5px #ddd;
  }
  
  /* Section: blog-posts CSS */
  #blog-section{
    width: 100%;
    background: #eee;
    padding: 1em;
  }
  
  #grid-container{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    gap: 1em;
  }
  
  .grid-item{
    border: 1px solid#000;
    text-decoration: none;
    box-shadow: 2px 2px 2px #000;
    text-shadow: 1px 1px 5px #000;
    position: relative;
    color: #ddd;
    font-size: 2em;
    overflow: hidden;
    transition: box-shadow 0.25s ease-in-out;
    }
  
    .grid-item:hover{
      box-shadow: 5px 5px 10px #000;
    }
  
   .grid-item > div{
    width: 100%;
    height: 100%;
    background: url("./assets/images/blog-images/1_Challenges.jpg") no-repeat center;
     background-size: cover;
    filter: blur(2px);
    position: absolute;
  }
  
  .grid-item > p{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  
  /* Footer CSS */
  
  footer{
    background: #000;
    width: 100%;
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
  }
  
  .footer-items{
    margin: 1em;
    color: #ddd;
  }
  
  
  footer > #about{
    background: #111;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer > #contact{
    background: #000;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-media-icons{
    margin: 1em;
    font-size: 0.75em;
    color: #ddd;
    transition: all 0.25s ease-in-out;
  }
  
  .social-media-icons:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  /* Share Blog CSS*/
  #share-blog{
    top:0;
    left: 0;
    width: auto;
    position: fixed;
    color: #ddd;
    font-size: 0.75em;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
  .share-blog-items{
    color: #ddd;
    font-size: 1em;
    transition: all 0.25s ease-in-out;
  }
  
  .share-blog-items:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  /* Back-To-Top CSS */
  
  .back-to-top {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: #ddd;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1em;
  }
  
  .back-to-top:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  .hide {
    visibility: hidden;
    opacity: 0;
  }
  
  .show {
    visibility: visible;
    opacity: 1;
  }
  

}

@media screen and (min-width: 729px) and (max-width:1400px){

  .container{
    width: 80vw;
    height: auto;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 1px 1px 10px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Header CSS */
  header{
    background: #000;
    width: 100%;
    padding:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #brand-logo-div{
    background: #eee;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
  }
  
  #brand-logo-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 74px;
  }
  
  #blog-series-title{
  font-size: 1em;
  color: #ddd;
  text-shadow: 1px 1px 5px #ddd;
  }
  
  
  
  /* Section: blog-posts CSS */
  #blog-section{
    width: 100%;
    background: #eee;
    padding: 1em;
  }
  
  #grid-container{
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    gap: 3em;
  }
  
  .grid-item{
    border: 1px solid#000;
    text-decoration: none;
    box-shadow: 2px 2px 2px #000;
    text-shadow: 1px 1px 5px #000;
    position: relative;
    color: #ddd;
    font-size: 2em;
    overflow: hidden;
    transition: box-shadow 0.25s ease-in-out;
    }
  
    .grid-item:hover{
      box-shadow: 5px 5px 10px #000;;
    }
  
   .grid-item > div{
    width: 100%;
    height: 100%;
    background: url("./assets/images/blog-images/1_Challenges.jpg") no-repeat center;
     background-size: cover;
    filter: blur(2px);
    position: absolute;
  }
  
  .grid-item > p{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  
  /* Footer CSS */
  
  footer{
    background: #000;
    width: 100%;
    padding:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
  }
  
  .footer-items{
    margin: 1em;
    color: #ddd;
  }
  
  
  footer > #about{
    background: #111;
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  footer > #contact{
    background: #000;
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .social-media-icons{
    margin: 1em;
    font-size: 1em;
    color: #ddd;
    transition: all 0.25s ease-in-out;
  }
  
  .social-media-icons:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  /* Share Blog CSS*/
  #share-blog{
    top:1em;
    left: 1em;
     width: auto;
    position: fixed;
    color: #ddd;
    font-size: 1em;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
  .share-blog-items{
    color: #ddd;
    font-size: 1em;
    transition: all 0.25s ease-in-out;
  }
  
  .share-blog-items:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  /* Back-To-Top CSS */
  
  .back-to-top {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: #ddd;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 1em;
  }
  
  .back-to-top:hover{
    color: #000;
    padding: 1em;
    background: #eee;
    border-radius: 50%;
  }
  
  .hide {
    visibility: hidden;
    opacity: 0;
  }
  
  .show {
    visibility: visible;
    opacity: 1;
  }
  
}