:root{
    
    --blog-main-heading-color : #333;
    --blog-main-heading-font-size : 3em;
    --blog-sub-heading-color : #444;
    --blog-sub-heading-font-size : 2em;
    --blog-text-color : #555;
    --blog-text-font-size : 1em;
    --blog-font-family :  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --comment-input-background-color : #fff;
    --comment-input-font-size : 1.5em;
    --post-button-background : #fff;
  
    --comment-label-font-size : 1em;
    --comment-para-font-size : 2em; 
  }

#blog-container{
    background: #fff;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* blog-post CSS */
#blog-post{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading{
    font-size: var(--blog-main-heading-font-size);
    color: var(--blog-main-heading-color);
    margin: 1em auto; 
}

.sub-heading{
    font-size: var(--blog-sub-heading-font-size);
    color: var(--blog-sub-heading-color);
    margin: 1em auto;
    text-decoration: underline;
}

.text{
    font-size: var(--blog-text-font-size);
    color: var(--blog-text-color);
    margin: 1em 1em; 
}


/* blog-post-comment CSS */

#blog-post-comment{
    width: 100%;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog-comment-form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-items{
    width: 100%;
    border: 1px solid #01579B;
    padding: 1em;
    font-size: 1em;
}

.btn{
    background: #01579B;
    color: #fff;
}


/* comments-retrieved-area CSS */
#comments-retrieved-area{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commentsList{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments{
    width: 80%;
    padding: 1em;
    margin: 1em;
    background: #E1F5FE;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : flex-start;
}

.comment-items{
    margin: 1em;
}

.comment-items p{
    font-size: 3em;
}



  @media screen and (min-width: 300px) and (max-width:728px) {

    #blog-container{
        background: #fff;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    /* blog-post CSS */
    #blog-post{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-heading{
        font-size: var(--blog-main-heading-font-size);
        color: var(--blog-main-heading-color);
        margin: 1em auto; 
    }
    
    .sub-heading{
        font-size: var(--blog-sub-heading-font-size);
        color: var(--blog-sub-heading-color);
        margin: 1em auto;
        text-decoration: underline;
    }
    
    .text{
        font-size: var(--blog-text-font-size);
        color: var(--blog-text-color);
        margin: 1em 1em; 
    }
    
    
    /* blog-post-comment CSS */
    
    #blog-post-comment{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #blog-comment-form{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .input-items{
        width: 100%;
        border: 1px solid #01579B;
        padding: 1em;
        font-size: 0.75em;
    }
    
    .btn{
        background: #01579B;
        color: #fff;
    }
    
    
    /* comments-retrieved-area CSS */
    #comments-retrieved-area{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #commentsList{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .comments{
        width: 80%;
        padding: 1em;
        margin: 1em;
        background: #E1F5FE;
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : flex-start;
    }
    
    .comment-items{
        margin: 1em;
    }
    
    .comment-items p{
        font-size: 1em;
    }
    
    

  }


  @media screen and (min-width: 729px) and (max-width:1400px) {

    #blog-container{
        background: #fff;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    /* blog-post CSS */
    #blog-post{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-heading{
        font-size: var(--blog-main-heading-font-size);
        color: var(--blog-main-heading-color);
        margin: 1em auto; 
    }
    
    .sub-heading{
        font-size: var(--blog-sub-heading-font-size);
        color: var(--blog-sub-heading-color);
        margin: 1em auto;
        text-decoration: underline;
    }
    
    .text{
        font-size: var(--blog-text-font-size);
        color: var(--blog-text-color);
        margin: 1em 1em; 
    }
    
    
    /* blog-post-comment CSS */
    
    #blog-post-comment{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #blog-comment-form{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .input-items{
        width: 100%;
        border: 1px solid #01579B;
        padding: 1em;
        font-size: 0.75em;
    }
    
    .btn{
        background: #01579B;
        color: #fff;
    }
    
    
    /* comments-retrieved-area CSS */
    #comments-retrieved-area{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #commentsList{
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .comments{
        width: 80%;
        padding: 1em;
        margin: 1em;
        background: #E1F5FE;
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : flex-start;
    }
    
    .comment-items{
        margin: 1em;
    }
    
    .comment-items p{
        font-size: 1em;
    }
    
    

  }